.container-traspasossalidaentrada .row{
    font-size: .8em;
    margin-top: 10px;
}

.container-traspasossalidaentrada label {
    width: 110px;
}

.container-traspasossalidaentrada table th,
.container-traspasossalidaentrada td {
    border: 3px grey solid;
}


.container-traspasossalidaentrada #descripcion{
    width:28rem;
    /* width:180px; */
}

.container-traspasossalidaentrada .botones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .container-traspasossalidaentrada #descripcion{
        width:19rem;
    }
  }